.wrapper {
  margin: auto;
  width: 50%;
}
.input {
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  border-color: darkcyan;
}

.red {
  background-color: red;
  height: 16px;
  margin: 2px;
}
.yellow {
  background-color: yellow;
  height: 16px;
  margin: 2px;
}
.grey {
  background-color: grey;
  height: 16px;
  margin: 2px;
}
.green {
  background-color: green;
  height: 16px;
  margin: 2px;
}
