/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Inter&family=Titillium++Web&display=swap");

:root {
  --main-padding: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  padding: var(--main-padding);
  font-family: "Inter", sans-serif;
}
